<ion-view view-title="Connect">
<ion-content>

 <!--  <div class="card">
    <div class="item item-text-wrap">
      <div class="item-divider"><h1>SoundCloud</h1></div>
      <div ng-repeat="song in playlist">
      </ng-sc-track><ng-sc-track track="song.id"></ng-sc-track>
  	  </div>
    </div>
  </div> -->
  <div class="list card" ng-if="hosts.length > 0">
	<a ng-repeat="host in hosts" class="item item-icon-left" ng-click="verify(host)">
	  {{host.name}}
	</a>
  </div>
</ion-content>
</ion-view>