<ion-view view-title="Home">
  <ion-content>
  	<div class="card">
  	<div class="item item-text-wrap">
  		<div class="item-divider"><h1>Hi</h1></div>
    	<h2>So this is our app...it's still less refined than we hoped but we hope you enjoy it! :)</h2>
	  </div>
    </div>
    <div class="card">
  	<div class="item item-text-wrap">
  		<div class="item-divider"><h1>Our Goals</h1></div>
    	<h2>We chose to make an app that makes it easy to play music in public settings.</h2>
    	<br />
    	<h2>What we mean by this is, we eliminate the need to have someone assume the cumbersome role as "music man".</h2>
    	<br />
    	<h2>Our solution is to simply let the people hear what they want! Just hook your phone up to the speakers, and your party-goers will add tunes to the playlist themselves!</h2>
    	<br />
    	<h2>Now, no one has to go through the trouble of finding the DJ to request a song</h2>
	</div>
    </div>
    <div class="card">
    	<div class="item item-text-wrap">
    	<div class="item-divider"><h1>How It's Done</h1></div>
    	<h2>It's a relatively simple idea: the host (or whoever hooks their phone up to the speakers) will literally "host" a playlist.</h2>
    	<br />
    	<h2>Anyone who wants to contribute to the playlist will need to connect to the host. And that's it!</h2>
    	<br />
    	<h2>Search for a song and add it to the playlist</h2>
    	</div>
    </div>
  </ion-content>
</ion-view>