<ion-view view-title="{{stationName}}">
<ion-content>
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search" ng-model="searchString">
	  </label>
	  <button class="button button-clear button-dark" ng-click="search(searchString); searchString = ''">
	    Search
	  </button>
	</div>

	<div class="list card" ng-if="searchResults.length > 0">
		<div ng-repeat="song in searchResults" class="item item-icon-left" ng-click="addToPlaylist(song)">
			<i class="button button-clear button-small icon ion-plus-round"></i>
		  {{song.title}}
		</div>
  	</div>

  <div class="list card" ng-if="playlist.length > 0">
  	<div class="item item-divider">
    Now Playing
  	</div>
	<div class="item item-icon-right">
	  {{playlist[0].title}}
	  <div plangular="{{playlist[0].permalink_url}}">
        <button ng-init="play()" ng-click="playPause()">Play/Pause</button>
        <button ng-click="pause(); removeSong(playlist[0])">Delete</button>
        <progress ng-click="seek($event)" ng-value="currentTime / duration || 0">
    	  {{ currentTime / duration || 0 }}
  	    </progress>
  	    <div ng-if="(player.playing === track.src) && (currentTime == duration) && (duration > 0)" ng-init="">hello</div>
	  <!-- <i class="button button-clear button-small icon ion-plus-round"></i> -->
	  </div>
    </div>
  </div>


  <div class="list card" ng-if="playlist.length > 1">
  	<div class="item item-divider">
    Up Next...
  	</div>
	<div ng-repeat="song in playlist" class="item" ng-if="$index > 0">
	  {{song.title}}
	  <div plangular="{{song.permalink_url}}">
        <button ng-click="removeSong(song)">Delete</button>
      </div>
	</div>
  </div>

</ion-content>
</ion-view>