/* Empty. Add your own CSS if you like */

.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #181818;
}

.whiteText {
	color: #f8f8f8;
}

.page-background {
	background-color: #202020;
}

.host-input {
	height: 10vh !important;
}

.item-dark {
	background-color: #181818;
}


/***
 * ng-sc-track
 ***/
ng-sc-track {
  width: 320px;
  height: 320px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
ng-sc-track a, ng-sc-track a:hover, ng-sc-track a:link, ng-sc-track a:active {
  color: #fff;
  text-decoration: none;
}
ng-sc-track p, ng-sc-track h1 {
  padding: 0;
  margin: 0;
}
ng-sc-track h1 {
  font-size: 1em;
  font-weight: 100;
}
ng-sc-track p {
  font-size: 0.3em;
}
ng-sc-track .album-art {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
ng-sc-track .wave {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.0;
}
ng-sc-track .details {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
ng-sc-track .track-info {
  float: left;
  padding-left: 4px;
}
ng-sc-track .play {
  float: right;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  background: #2cde50;
  transition: all 0.3s ease 0s;
}
ng-sc-track .play:hover {
  background: #6be784;
}
ng-sc-track .play:active {
  background: #27c748;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) inset;
}